.signin-page {
  overflow: hidden;
  position: relative;
  height: 100vh;
  width: 100vw;
}

.logo {
  height: 48px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 30px;
}

.logo-image {
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  font-family: bold;
  padding: 20px;
  z-index: 11;
}
/* Child of .signin-page: .right-panel */
.right-panel {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--page-background-color);
  overflow-y: auto;
  height: 90vh;
}

/* Grandchild of .right-panel: .mobile-images */
.mobile-images {
  display: none;
}

/* Grandchild of .right-panel: .top-links */
.top-links {
  position: absolute;
  top: var(--spacing-6);
  right: var(--spacing-6);
  font-size: var(--font-size-2);
}

/* Great-grandchild of .top-links: a */
.top-links a {
  color: var(--primary-color);
  text-decoration: underline;
}

/* Grandchild of .right-panel: .signin-form */
.signin-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  padding: var(--spacing-10);
  background: var(--page-background-color);
  border-radius: var(--border-radius-4);
  row-gap: var(--spacing-4);
  box-sizing: border-box;
}

/* Great-grandchild of .right-panel: .welcome-title */
.welcome-title {
  font-size: var(--font-size-11);
  margin-bottom: var(--spacing-1);
  font-weight: var(--font-weight-4);
}

/* Great-grandchild of .right-panel: .welcome-subtext */
.welcome-subtext {
  font-size: var(--font-size-5);
  color: var(--primary-color);
  margin-bottom: var(--spacing-6);
  text-align: left;
}

/* Great-grandchild of .right-panel: .form-group */
.form-group {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-1);
  margin-bottom: var(--spacing-4);
}

/* Great-grandchild of .right-panel: .form-label */
.form-label {
  font-size: var(--font-size-3);
  display: block;
}

/* Great-great-grandchild of .form-label: .required */
.form-label .required {
  color: var(--error-color);
}

/* Great-grandchild of .right-panel: .password-group */
.password-group {
  position: relative;
}

/* Great-great-grandchild of .password-group: .toggle-password */
.password-group .toggle-password {
  position: absolute;
  right: var(--spacing-4);
  top: var(--spacing-10);
  height: var(--spacing-5);
  font-size: var(--font-size-3);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-muted-color);
  cursor: pointer;
}

/* Great-great-grandchild hover of .password-group: .toggle-password:hover */
.password-group .toggle-password:hover {
  color: var(--primary-color);
}

/* Grandchild of .right-panel: .extra-links */
.extra-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color-dim);
}

.extra-links-checkbox {
  display: flex;
  align-items: center;
  gap: var(--spacing-1);
  font-size: var(--font-size-3);
  color: var(--font-family-base);
  cursor: pointer;
}

/* Great-great-grandchild of .extra-links: label */
.extra-links label {
  font-size: var(--font-size-3);
  color: var(--font-family-base);
  min-width: 100px;
}

/* Great-great-grandchild of .extra-links: a */
.extra-links a {
  font-size: var(--font-size-3);
  color: var(--primary-color);
  text-decoration: none;
  margin-bottom: var(--spacing-2);
  cursor: pointer;
}

/* Child of .signin-page: .error, .text-danger */
.error,
.text-danger {
  font-size: var(--font-size-2);
  color: var(--error-color);
  margin-bottom: var(--spacing-2);
}

/* Child of .signin-page: .bottom-links */
.bottom-links {
  margin-top: var(--spacing-4);
  text-align: center;
  font-size: var(--font-size-2);
}

/* Grandchild of .bottom-links: a */
.bottom-links a {
  color: var(--primary-color);
  text-decoration: underline;
}

.already-account {
  position: absolute;
  top: var(--spacing-6);
  right: var(--spacing-6);
  font-size: var(--font-size-3);
  color: var(--text-color-dim);
}

.already-account a {
  color: var(--primary-color);
  text-decoration: underline;
  cursor: pointer;
  margin-left: var(--spacing-1);
}

.register-now-mobile {
  display: none;
  text-align: center;
  margin-top: var(--spacing-3);
  font-size: var(--font-size-2);
}
.register-now-mobile a {
  color: var(--primary-color);
  text-decoration: underline;
}

/* Responsive */

@media (max-width: 991.98px) {
  .signin-page {
    flex-direction: column;
    height: auto;
  }
}

@media (max-width: 768px) {
  .signin-page {
    padding: 0 var(--spacing-4);
    width: 100vw;
    min-height: 100vh;
  }
}

@media (max-width: 500px) {
  .right-panel {
    padding: var(--spacing-2) 0;
  }
  .signin-form {
    max-width: 100%;
    padding: var(--spacing-4) var(--spacing-2);
  }
  .welcome-title {
    font-size: var(--font-size-6);
  }
  .welcome-subtext {
    font-size: var(--font-size-4);
  }
  .form-label,
  .extra-links label,
  .extra-links a,
  .bottom-links,
  .bottom-links a {
    font-size: var(--font-size-4);
  }
  .logo {
    justify-content: center;
  }
}
