.form-group {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-1);
  margin-bottom: var(--spacing-4);
}

.password-group {
  position: relative;
}

.form-label .required {
  color: var(--error-color);
}

.form-label {
  color: #D7D7D7;
}

.password-group {
  position: relative;
}

.password-group .toggle-password {
  position: absolute;
  right: var(--spacing-4);
  top: var(--spacing-10);
  height: var(--spacing-5);
  font-size: var(--font-size-3);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-muted-color);
  cursor: pointer;
}

.password-group .toggle-password:hover {
  color: var(--primary-color);
}

.text-danger {
  font-size: var(--font-size-2);
  color: var(--error-color);
  margin-bottom: var(--spacing-2);
}

